.snakemake
.ipynb_checkpoints
.fa
resources/*.bam
resources/*.cram
results/*/*.bed
results/*/*.csv
venv
results
resources/*.fa
resources/*.fa.fai
bam_files/*.bam
bam_files/*.cram
!bam_files/HG01879_hg38_chr1_1-11M.bam
